<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>206836641686-o5vjsl5q05k42gro4eosvtfju4p4aqei.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.206836641686-o5vjsl5q05k42gro4eosvtfju4p4aqei</string>
    <key>API_KEY</key>
    <string>AIzaSyAPAf0gaHd_55hLOBMBj78ONh9YI_Xrq_Y</string>
    <key>GCM_SENDER_ID</key>
    <string>206836641686</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.aandsbrothers.rewear</string>
    <key>PROJECT_ID</key>
    <string>asbrothers-c3f83</string>
    <key>STORAGE_BUCKET</key>
    <string>asbrothers-c3f83.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:206836641686:ios:2fa57cdb6f5c94208cb7b7</string>
</dict>
</plist>
